.myFooter {
    width: 100%;
    background-color: #1B1C1E;
    height: 150px;
    
    bottom: 0;
  
    color: ghostwhite;
    margin-top: 6em;
    
    
}

.footerContents {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
 padding-top: 2em;
}

.socialMedia {
    margin-top: 1em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.socialMedia img {
    max-width: 25px;
    filter: invert(1);
}