 @media screen and (max-width: 900px) {
          .presentText {
         position: relative;
         left: 50px;
         top: 80px;
     }
     h1 {
         font-size: 2em;
     }
      h2 {
         font-size: 1.6em;
     }
 }

* {
    font-family: 'Lato',
    sans-serif;
}

.presentation {
    background: url("banner.png") no-repeat top left, linear-gradient(60deg, #5f69e3, #fd2364) ;
    background-size: cover;
    width: 100%;
    color: whitesmoke;
    height: fit-content;
    padding-bottom: 5em;
    min-height: 45em;
    border-radius: 0 0 250px 0;
    box-shadow: 12px 12px 30px  rgba(77, 2, 216, 0.3);
    margin-top: 3em;
     
}



.presentText h1 {
    font-size: 3.5em;
    margin-top: .7em;
    margin-bottom: .7em;
    text-shadow: 2px 2px 0px rgba(11, 0, 31, 0.801);
    letter-spacing: 9px; }

.presentText h2 {     
font-size: 2em;
margin-top: 0.1em;
    text-shadow: 2px 2px 0px rgba(11, 0, 31, 0.801);

}

.presentText h3 {
font-size: 1.5em;
margin-top: 1em;
    text-shadow: 2px 2px 0px rgba(11, 0, 31, 0.801);

}

.presentText {
    margin-left: 3em;

    box-sizing: border-box;
        position: relative;
        top: 90px;
        left: 150px;
        
    
}
.projectsButton {
    top: 25em;
    margin: 0 auto;
    background-color: whitesmoke;
    width: 15em;
    position: relative;
    height: 3em;
    border-radius: 1.5em;
    text-align: center;
    color: #1B1C1E;
         color: rgb(77, 2, 216);
         transition: ease-in-out .6s all;
     
 
}
.projectsButton p {
    position: relative;
    top: 20%;
    font-size: 1.2em;
}

.projectsButton:hover {
    box-shadow: 0px 0px 25px rgb(254, 245, 255);
    }

.projectText {
    margin-left: 3em;
    margin-top: 2em;

    box-sizing: border-box;
    position: relative;
    top: 2em;

}

#aboutShort {
    
    margin: .9em;
    margin-top: 10em;
    
    
    margin-bottom: 10em;
}

.aboutShortContainer {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    width: 90%;
    margin: 50px auto;
    font-size: 1.2em;
    line-height: 1.6em;
    
    
}

.aboutText {
    width: 45%;
}

.aboutShortImage img {
   width: 450px;
}